/* 파리 */
.paris-container {
    /* height 주면 될듯 - 크기 조절용 */
    margin-top: 110px;
    position: relative;
    height: 90vh;
}

.paris-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.paris-photo {
    img {
        width: 550px;
    }
}

.paris-content {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paris-title {
    font-size: 100px;
    line-height: 1.2;

    span {
        color: #EB512D;
    }
}

.paris-text {
    font-size: 80px;
    margin-bottom: 50px;
    line-height: 1.2;
}


.marquee {
  position: absolute;
  bottom: 140px;
  left: -195px; 
  width: calc(100% + 390px); 
  height: 35px;
  white-space: nowrap;
  font-size: 32px;
  color: #EB512D;
}

.marquee-track {
  display: block;
  width: 200%;
  height: 35px;
  position: absolute;
  overflow: hidden;
  animation: marquee-right 20s linear infinite;
  display: inline-block;
}

.marquee span {
  float: right;
  width: 50%;
  padding-right: 100px;
}

/* @keyframes marquee-right {
  0%   { left: -100%; }
  100% { left: 0; }
} */


/* 서울 */
.seoul-container {
  height: 100vh;
  position: relative;
  background: #dfe6fd;
  padding: 100px 195px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-color: rgba(214, 232, 240, 0.14); 
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px); 
  z-index: 1;
}

.seoul-background-text {
  position: absolute;
  top: 8%;
  left: 60%;
  transform: translateX(-50%);
  font-size: 200px;
  font-weight: bold;
  color: rgba(37, 64, 251, 0.6);
  -webkit-text-stroke: 7px #2540FB;
  z-index: 0;
  user-select: none;
  pointer-events: none;
  width: 2000px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 25px;
}

.seoul-background-text:nth-child(2) {
  top: 40%;
}

.seoul-background-text:nth-child(3) {
  top: 68%;
}

.seoul-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.seoul-text-box {
  background-color: rgba(186, 237, 236, 0.6);
  width: 830px;
  height: 522px;
  margin-left: -195px;
  padding: 60px 0 0 195px;
  color: #EB512D;
  line-height: 1.4;
}

.seoul-title {
  font-size: 90px;
  line-height: 1.2;
}

.seoul-title span {
  color: #EB512D;
}

.seoul-tagline {
  margin-top: 30px;
  font-size: 50px;
  color: #9b2505;
}

.seoul-photo-box img {
  width: 500px;
  border: 5px solid #EB512D;
  border-radius: 15px;
}

.letter-container {
  background-color: #FEFFCE; 
  overflow: hidden;
  width: 100%;
  padding: 30px 0;
  position: relative;
}

.track {
  display: flex;
  white-space: nowrap;
}

.track span {
  font-size: 64px;
  color: #DD4400;
  padding-right: 60px; 
  font-weight: bold;
}


/* 로마 */
.rome-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 0;
}


.rome-container {
  position: relative;
  width: 100%;
  height: 120vh;

  background-image: url('./img/user_rome-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

.rome-photo {
  position: relative;
  z-index: 1;
}

.rome-content {
  position: relative;
  z-index: 1;
  color: #FEFFCE;

}

.rome-title {

}

.rome-text {

}